$background-color: #282c34;
$tictactoe-text-color: #fff;
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $background-color;
  color: $tictactoe-text-color;
  padding: 10px;
}

.App {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .startGameBtn {
    background-color: #ffffff;
    border-radius: 28px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
  }
  .startGameBtn:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
  }
}
